.remito-root {
    -fx-background-color: white;
    -fx-border-color: lightgray;
    -fx-border-width: 1;
}

.header-title {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

.total-label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
